<div class="articlebox" title="{{ pluginName }}">
    <p>
        <a data-article-number="{{ article.getArticleNumber() }}" data-article-language="{{article.getLanguageId() }}" class="ui-state-default icon-button js-clear-article-facebook-cache" href="#"><span class="ui-icon ui-icon-pencil"></span>{{ getGS('Clear article cache in Facebook') }}</a>
    </p>
    <div style="clear:both"></div>
    <pre class="article-status"></pre>
    <div class="article-data">
        <h4>{{ getGS('Article data:') }}</h4>
        <ul class="block-list">
            <li>
                <div class="image-thumbnail-container">
                    <img id="fb-picture" style="width: 90%;">
                </div>
                <strong>{{ getGS('Title') }}:</strong> <span><small></small><span><br>
                <strong>{{ getGS('Description') }}:</strong> <span><small id="fb-description"></small></span><br>
            </li>
        </ul>
    </div>
</div>

<script>
$(document).ready(function() {
    ajaxFB();
    $('.js-clear-article-facebook-cache').click(function(e){
        e.preventDefault(); 
        ajaxFB();
    });
    function ajaxFB() {
        $('pre.article-status').html("{{ getGS('Connecting...') }}");
        var element = $('.js-clear-article-facebook-cache');
        $.ajax({
            url: "/admin/ahs/facebook-plugin/clear-cache",
            type: "POST",
            data: {
                articleNumber: element.data('articleNumber'),
                languageId: element.data('articleLanguage')
            },
            dataType: "json"
        }).done(function(res){
            if (res.status == false) {
                $('pre.article-status').html(res.message);
            };
            $('#fb-picture').attr('src', res.url);
            $('.article-data ul li span small').html(res.title);
            $('#fb-description').html(res.description);
            $('.article-data').show();
            $('pre.article-status').html("{{ getGS('Success') }}");
        });
    };
});
</script>