<style type="text/css" media="screen">
.article-data h4 {padding-left: 10px;}
#fb-picture {width: 90%;}
#status {float: left;padding-left: 10px;}    
</style>

<div class="articlebox" title="{{ pluginName }}">
    <p>
        <a data-article-number="{{ article.getArticleNumber() }}" data-article-language="{{article.getLanguageId() }}" class="ui-state-default icon-button js-clear-article-facebook-cache" href="#"><span class="ui-icon ui-icon-pencil"></span>{{ 'fb.btn.clear'|trans }}</a>
    </p>
    <div style="clear:both"></div>
    <pre id="status"><strong>{{ 'fb.label.status'|trans }} </strong></pre><pre class="article-status"></pre>
    <div class="article-data">
        <h4>{{ 'fb.label.data'|trans }}</h4>
        <ul class="block-list">
            <li>
                <div class="image-thumbnail-container">
                    <img id="fb-picture">
                </div>
                <strong><span><small></small><span></strong><br>
                <span><small id="fb-description"></small></span><br>
            </li>
        </ul>
    </div>
</div>

<script>
$(document).ready(function() {
    var default_url = '{{ path('newscoop_facebook_default_index') }}';
    var clear_url = '{{ path('newscoop_facebook_default_clear') }}';
    ajaxFB(default_url);
    $('.js-clear-article-facebook-cache').click(function(e){
        e.preventDefault(); 
        ajaxFB(clear_url);
    });
    function ajaxFB(u) {
        $('pre.article-status').html("{{ 'fb.label.connecting'|trans }}");
        $('.article-data').hide();
        var element = $('.js-clear-article-facebook-cache');
        $.ajax({
            url: u,
            type: "POST",
            data: {
                articleNumber: element.data('articleNumber'),
                languageId: element.data('articleLanguage')
            },
            dataType: "json"
        }).done(function(res){
            if (res.status == false) {
                $('pre.article-status').html('<span style=\"color: #FF2200\">'+res.message+'</span>');
                $('.article-data').hide();
            } else {
                $('.article-data').show();
                $('#fb-picture').attr('src', res.url);
                $('.article-data ul li span small').html(res.title);
                $('#fb-description').html(res.description);
                $('pre.article-status').html("<span style=\"color: #11B402\">{{ 'fb.label.success'|trans }}</span>");
            }
        });
    };
});
</script>